

/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* common-styles */

body{
    margin: 0px ;
    font-family: 'Poppins', sans-serif;
    
}

.title{
    margin: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}

.button-style{
    width: 188px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    background-color: #E02C6D;
    border: none;
}

.button-style>a{
    text-decoration: none;
    color:  #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.button-style>a>i{
    padding-left: 10px;
    padding-right: 10px;
}

.parent-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.containers{
    width: 1160px; 
}

.discription{
    font-weight:400;
    Font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}


/* header-styles */

/* menu-style */
menu{
    margin: 40px 0px 100px 0px;
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins
}

.menu-container>a{
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 35px;
    font-size: 16px;
    font-family: Poppins;
    line-height: 24px;
}

.login-button{
    align-items: flex-end;
}

.login-button>.button-style{
    width: 125px;
    height: 45px;
    padding-left: 15px;
    margin-top: 0px;
}




/* title-banner */

header{
    height: 677px;
    background-color: #2D25A0;
    margin-bottom: 70px;
}

header:hover .header-container .button-style{
    transition-timing-function: ease-in-out;
    transition: transform 2s ;
    transform: scale(1.5) translate(30px,0px) ;
    
}

.header-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    overflow: hidden;
    align-items: center;
    
}


.button-style{
    margin-top: 30px;
}

.title-banner>img{
    width: 550px;
    height: 430px;
}





/* main-part */

main{
    margin-bottom: 70px;
}

/* players-part */

.players-container{
    margin-bottom: 70px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}

.player{
    width: 330px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.player>img{
    width: 330px;
    height: 260px;
}

.player>h3{
    font-weight: 700;
    Font-style: Bold;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}



/* highlights-part */

.highlights-container{
    display: flex;
    align-items: center;
    column-gap: 100px;
}

.highlights-details>h1{
    font-size: 48px;
    color: black;
}
.highlights-container>.banner>img{
    width: 560px;
    height: 425px;
}



/* footer-style */
footer{
   display: flex;
   justify-content: center;
   align-items: center;
}
.footer-container{
    margin: 60px 0px 60px 0px;
    width: 485px;
}

.logo>img{
    width: 485px;
    height: 100px;
}

.socil-media-container,.copyright{
    display: flex;
    justify-content: center;
}

.icon{
   margin: 10px;
}

.copyright>h6{
    font-weight: 500;
    font-size: 12px;
}

/* media player */

/* mobile */
@media only screen and (max-width: 688px) {

   
    /* menu-part */

    .menu-container{
        display: none;
    }
    /* main */
    /* players-part */
    .players{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 0px;
    }


}

  /* tablet devices */
@media only screen and (min-width: 688px)and (max-width: 992px) {
    menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .players{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 30px;
    }
}

/* common media player for tab and mobile */
@media only screen and (max-width: 992px) {
    /* common */
    .containers{
        width: calc(100% - 30px);;
    }

    /* menu-part */
    menu{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .login-button {
        align-items: flex-end;
        margin-right: 15px;
    }
    /* title-banner */
    header{
        height: 820px;
    }
    .header-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);

    }
    .header-container>.right{
        margin-left: 15px ;
        margin-right: 15px ;
    }

    .title{
        font-size: 36px;
        line-height: 50px;
    }

    .title-banner {
        display: flex;
        justify-content: space-evenly;
    }

    .title-banner>img{
        margin-top: 100px;
        width: 330px;
        height: 260px;
    }

    /* main */
    /* players-part */
    
    .players-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    /* highlights-part */
    .highlights-details{
        margin-left: 15px ;
        margin-right: 15px ;
    }
    .highlights-details>h1{
        font-size: 40px;
    }
    .highlights-container{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .highlights-container>.banner>img{
        width: 330px;
        height: 250px;
    }


    /* footer */
    
    .footer-container{
        width: 100%;
    }
    .logo, .copyright{
        display: flex;
        justify-content: center;
    }
    .logo>img{
        width: 285px;
        height: 100px;
    }
    .copyright>h6{
        font-size: 10px;
    }

}


